<div class="container">
<h2>{{propulsion.name}}</h2>
<a href="/">Home</a>
<a href="/{{propulsion.id}}/edit">Edit</a>
<a href="/{{propulsion.id}}/delete">Delete</a>
<img class="image"src="{{propulsion.image}}" alt="" />
  <h1>Type: {{propulsion.title}}</h1>
  <p>
    Description: {{propulsion.description}}
  </p>
</div>
